*{
    background-color: white;
}
.cabecera{
    display: flex;
}

.logo{
    height: 100px;
    width: 100px;
    flex: 2;
}

.menu{
    display: flex;
}

.flex2{
    display: flex;
}

.submenu{
    display:none;
    background-color: #fcfcec;
    font-style: "Verdana";
    list-style: none;
}

.menu ul li:hover .submenu{
    display: block;
    background-color: #000000;
    color: white;
}

.menusupI{
    flex: 0.5;
}
.newslet{
    text-align: center;
}
.menuheader{
    display: flex;
}
.menuheader li{
    flex: 2;
    text-align: center;
}
.menuhorizosup{
    
}
